:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400i, 700, 800i;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 94%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

